@{
    ViewBag.Title = "Home";
    
}
@model IeDotNetUg.Models.EventDetailModel 

<h1>Our Next Meeting</h1>


<div class="row">
    <div class="col-lg-3">
        <img src="@Model.Speaker.BioPicImage">
    </div>
    <div class="col-lg-9 well">
        <label>Title:</label> @Model.Title<br/>
        <label>When:</label> @Model.EventDate @Model.Time<br/>
        <h3>@Model.Location.Venue</h3>
        <address>
            <div>@Model.Location.StreetAddress</div>
            <span>@Model.Location.City </span>
            <span>@Model.Location.State </span>
            <span>@Model.Location.ZipCode</span>
        </address>
        <label>Speaker:</label> @Model.Speaker.FirstName @Model.Speaker.LastName

    </div>
</div>
<div class="row">
    <div class="col-lg-12 well">
        <p>Bacon ipsum dolor sit amet pork loin sirloin beef salami jowl. Pork chop jowl beef ribs tenderloin swine pork loin doner chicken pork. Pastrami tri-tip jowl, tongue kielbasa shoulder pork shankle leberkas bacon. Pork chop turducken turkey short ribs. T-bone sirloin turducken cow, ribeye hamburger bacon brisket short loin turkey pork belly. Doner capicola drumstick, shank ground round short ribs prosciutto jowl turducken pancetta bacon pastrami kevin flank. Turkey bresaola kevin spare ribs short ribs bacon boudin hamburger strip steak sirloin ribeye tail ground round.</p><p>Ground round cow meatloaf salami short ribs. Salami bresaola sausage frankfurter ribeye. Turkey fatback short loin frankfurter. Hamburger filet mignon t-bone pig, chuck flank ribeye chicken jowl ground round tenderloin. Tri-tip boudin biltong bacon short loin prosciutto drumstick frankfurter kielbasa shank salami fatback pork. Ham hock meatball tail pancetta short loin jerky, corned beef t-bone shank ham.</p>
    </div>
</div>

